@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
}



.main-container{
    color: #fff;
    margin-left: 60px;
}

.subtitle{
    cursor: pointer;
}

.subtitle i{
    padding-top: 12px;
    font-size: 20px;
}

.hidden{
    display: none;
}

.list-container{
    padding: 20px;
    background-color: #3399cc;
}

.list{
    padding-bottom: 10px;
    color: #fff;
    border-collapse: collapse;
    max-height: 50vh;
    margin: 0;
    width: 100%;
}

.list th{
    padding-bottom: 10px;
    font-weight: bold;
}

.list td{
    border-top: 1px solid #fff;
    padding-top: 8px;
    text-align: center;
}

.list .row:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.list .row td{
    padding: 10px;
}

.add-container{
    padding: 20px;
    background-color: #44aadd;
}

.update-container{
    padding: 20px;
    background-color: #55bdee;
}

.delete-container{
    padding: 20px;
    background-color: #66ccff;
}

input, select, textarea{
    margin: 2px;
    outline: none;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px;
}

input .error{
    border: 1px solid crimson;
}

button{
    border: 2px solid #5fa2db;
    outline: none;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: #ddeeff;
}

button:active{
    border: 2px solid #fff;
    background-color: #fff;
}

.delete{
    background: #fbb !important;
}